#navbar {
    height: 50px;
    padding: 10px;
}

#content {
    position: fixed;
    padding: 0px;
}

#quotelist-container {
    position: fixed;
    display: flex;
    flex-flow: column;
    top: 70px;
    right: 0px;
    bottom: 0px;
    /* padding: 10px; */
    padding-bottom: 0px;
    width: 40%;
    border-left: 3px solid gray;
    /* overflow: scroll; */
}

.quoteholder {
    /* height: 85%; */
    overflow: scroll;
    flex: 1 1 auto;
    padding: 10px;
}

.groupholder {
    /* height: 15%; */
    flex: 0 1 auto;
    padding: 10px;
    border-bottom: 3px solid gray;
}

#svg-container {
    position: fixed;
    top: 60px;
    left: 0px;
    bottom: 0px;
    width: 60%;
}

#svg {
    width: 100%;
    height: 100%;
}

.quotediv {
    border-top: 2px solid gray;
    padding: 10px;
}

.popup {
    position: absolute;
    width: 700px;
    pointer-events: none;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    opacity: 0;
}

#grouplist-overlay {
    margin: 10px;
    position: absolute;
    max-width: 400px;
    top: 0px;
}


.grouplistgroup {
    background-color: blue;
    padding: 10px;
}

/* .group-x { */
/*     border: 1px solid white; */
/*     padding: 5px; */
/*     margin: 5px; */
/* } */



.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}


.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.grouplistgroup {
    border-radius: 5px;
    color: white;
}

.btn-group {
    margin-right: 10px;
}
