#navbar {
    height: 50px;
    padding: 10px;
}

#content {
    position: fixed;
    padding: 0px;
}

#quotelist-container {
    position: fixed;
    display: flex;
    flex-flow: column;
    top: 65px;
    right: 0px;
    bottom: 0px;
    /* padding: 10px; */
    padding-bottom: 0px;
    width: 40%;
    border-left: 3px solid gray;
    /* overflow: scroll; */
}

.quoteholder {
    /* height: 85%; */
    overflow: scroll;
    flex: 1 1 auto;
    padding: 10px;
}

.groupholder {
    /* height: 15%; */
    background-color: #EEE;
    flex: 0 1 auto;
    padding: 10px;
    border-bottom: 1px solid gray;
}

#svg-container {
    position: fixed;
    top: 65px;
    left: 0px;
    bottom: 0px;
    width: 60%;
}

#svg {
    width: 100%;
    height: 100%;
}

.quotediv {
    border-top: 2px solid gray;
    padding: 10px;
}

.popup {
    position: absolute;
    width: 700px;
    pointer-events: none;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    padding-left: 15px;
    opacity: 0;
}

#grouplist-overlay {
    margin: 10px;
    position: absolute;
    top: 0px;
}


.grouplistgroup {
    background-color: blue;
    padding: 10px;
    float: left;
    margin: 3px;
}

/* .group-x { */
/*     border: 1px solid white; */
/*     padding: 5px; */
/*     margin: 5px; */
/* } */



.tt-menu {
    width: 422px;
    margin-top: 12px;
    margin-left: -100px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}


.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.grouplistgroup {
    border-radius: 5px;
    color: white;
}

.btn-group {
    margin-right: 10px;
}

#addcoords {
    float: right;
    margin-left: 10px;
}

.searchtypespan {
    padding: 3px;
    color: white;
    background-color: #868e96;
    border-radius: 4px;
}

.randomspan {
    padding: 3px;
    color: white;
    background-color: #28a745;
    border-radius: 4px;
}

.addtographspan {
    padding: 3px;
    color: white;
    background-color: #007bff;
    border-radius: 4px;
}

.searchspan {
    padding: 3px;
    color: gray;
    background-color: white;
    border: .5px solid gray;
    border-radius: 4px;
}

.quote {
    margin-bottom: 5px;
    color: darkslategray;
    font-size: 17px;
    font-weight: 300;
}

.person {
    padding-left: 15px;
    margin-bottom: 5px;
    color: gray;
    font-size: 17px;
    font-weight: 300;
}

.source {
    padding-left: 15px;
    color: gray;
    font-size: 17px;
    font-weight: 300;
}

.quote:hover {
    font-weight: 400;
}

.person:hover {
    font-weight: 400;
}

.source:hover {
    font-weight: 400;
}

.groupholder_span {
    font-size: 18px;
}

.groupholder_head {
    font-size: 16px;
    font-weight: 300;
}

#popupmessage {
    font-size: 14px;
    font-style: italic;
    color: gray;
    margin-bottom: 2px;
    margin-top: -5px;
    font-weight: 300;
}

#zoominstructions {
    position: absolute;
    bottom: 4px;
    text-align: center;
    width: 100%;
    font-style: italic;
    color: gray;
    font-size: 14px;
}

.imgdiv {
    padding: 15px;
    text-align: center;
}

.modalx {
    font-size: 40px;
}
